/* input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
} */


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 80px;
}

.SignInContent, .imgContent {
  width: 400px;
  height: 500px;
}

.imgContent {
  background-image: url('https://i.imgur.com/NMeTFPU.jpeg');
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 500px;    
  border:8px solid white;
  border-right: none;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 

}

.SignInContent {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding-left: 20px;
  border:8px solid rgb(255, 255, 255);
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-left: none;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}


.input {
  width: 280px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: normal;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
}

.button {
  padding: 10px 30px;
  background-color: #C6011F;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  width: 280px;
  text-align: center;
  margin-top: 5px;
}

button.btn:hover {
  background-color: #ff7878;
  color: #ffffff;

}
h1 {
  all: unset;
  font-size: 28px;
  color: black;
}

.signin{
  all: unset;
  color: #C6011F;
}

.message{
  color: lightslategray;

}
