nav {
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  box-shadow: 0px 0px 1cqb rgba(0, 0, 0, 1);
  padding: 5px 20px;  
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}

.welcome-user {
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
}