.libraryBtn{
  margin-top: 10px;
  color: #C6011F;
  background-color: #fafafa;
  border:1px solid #C6011F;
}

.libraryBtn:hover{
  color: #fafafa;
  background-color: #C6011F;
}

.inLibraryBtn{
  margin-top: 20px;
  color: #31631b;
  background-color: #fafafa;
  border:1px solid #65B741;
  width: 96px;
}