

.container {
  background-image: url('../../assets/book.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 16px;
  padding: 16px;
  width: 150px;
  height: 175px;
  box-shadow: 0 2px 6px;
}

.container:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px;
}

.profileName {
  color: black;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
}

.profilePics {
  border-radius: 32px;
  width: 60px;
  height: 60px;
} 

.profileWorms {
  width: 25px;
  height: 25px;
}

